/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */
.cta-btn--hero {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  border-image-slice: 1;
  cursor: pointer;
  // Responsive Button hero style
  @include respond(phone) {
    background-image: none;
    border: 2px solid $secondary-color;
    -webkit-text-fill-color: $secondary-color;
  }

  &::after {
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: $white-color;
    text-decoration: none;
    // Responsive Button hover hero style
    @include respond(phone) {
      -webkit-text-fill-color: $secondary-color;
    }

    &::after {
      width: 100%;
    }
  }
}

/* Resume Style */
.cta-btn--resume {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }

  &:hover {
    color: $secondary-color;
    cursor: pointer;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

/* Projects Style */
.cta-btn--projects {
  font-size: 2.4rem;
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  border-image-slice: 1;
  cursor: pointer;
  // Responsive Button hero style
  @include respond(phone) {
    background-image: none;
    border: 2px solid $secondary-color;
    -webkit-text-fill-color: $secondary-color;
  }

  &::after {
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: $white-color;
    text-decoration: none;
    // Responsive Button hover hero style
    @include respond(phone) {
      -webkit-text-fill-color: $secondary-color;
    }

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}

/* Source code button */
.cta-btn--source_code {
  padding: 0 !important;
}

/* Scroll to the top button */
.sidebar-btns {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 10%;
  z-index: 99;
  font-size: 1.125rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0.9375rem;
  border-radius: 0.25rem;
  background-image: url("../images/arrow-up.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
}
#scroll-btn {
  right: 15%;
  background-image: url("../images/arrow-up.svg");
  background-color: #FF6663;
}